<hr>
<p>로그인한 사용자 정보</p>
<p>ID : {{user.username}}</p>
<p>닉네임 : {{user.profile.nickname}}</p>
<p><a href="{% url 'whiteChoco:logout' %}">로그아웃</a></p>
<hr>
<p>현재 페이지 주인</p>
{{nickname}}
<hr>
<form action="{% url 'darkChoco:post' %}">
    <input type="hidden" name="to_user" value="{{nickname}}" />
    <br>
    <textarea cols="40" rows="10" name="letter_text"></textarea>
    <br><br>
    <input type="submit" value="전달!" />
</form>

{% for letter in letters.all %}
    <h1>{{ letter.to_user }}에게</h1>
    <p>{{ letter.letter_text }} - 내용</p>
    <p>{{ letter.from_user }}가</p>
{% endfor %}

